apiVersion: apps/v1
kind: Deployment
metadata:
  name: pythonapp-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: pythonapp
  template:
    metadata:
      labels:
        app: pythonapp
    spec:
      containers:
        - name: pythonapp
          image: tristan12/pythonapp:configmap
          ports:
            - containerPort: 5000
          envFrom:
            - configMapRef:
                name: logging-configmap
